<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Pool Money</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

          <div class="form-group text-left">
              <label for="id">Loan Id</label>

              
                <input formControlName="id" type="text" class="form-control">
              

            </div>


          
         
          
            <div class="form-group text-left">
              <label for="amtPooled">Amount to be Pooled</label>

              
                <input formControlName="amtPooled" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="percentage">percentage</label>

              
                <input formControlName="percentage" type="text" class="form-control">
              

            </div>

             <div class="form-group text-left">
              <label for="password">Password</label>

              
                <input formControlName="password" type="password" class="form-control">
              

            </div>

            <div class="form-group text-left">
              <label for="lenderId">Lender's Id</label>

              
                <input formControlName="lenderId" type="text" class="form-control">
              

            </div>

          


        </div>
        <div class="modal-footer">
          <button (click)="poolMoney(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Add to Pool</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>PPP</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
 
</div>
