<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Create Application</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

          <div class="form-group text-left">
              <label for="enduserId">Application ID</label>

              
                <input formControlName="applicationId" type="text" class="form-control">
              APP001

            </div>


          
         
          
            <div class="form-group text-left">
              <label for="enduserId">End user id</label>

              
                <input formControlName="enduserId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="brokerId">Broker Id</label>

              
                <input formControlName="brokerId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="productId">Product Id</label>

              
                <input formControlName="productId" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="poolMoney(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">CREATE APPLICATION!!!</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="applicationId">applicationId</label>

              
                <input [ngModel]="applicationId"formControlName="applicationId" type="text" class="form-control">
              

            </div>
          
 
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Application</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">applicationId</th>
            
                <th class="info">applicationName</th>
            
                <th class="info">statusUpdate</th>
            
                <th class="info">isApplicationVerified</th>
            
                <th class="info">purchaseDate</th>
            
                <th class="info">lastStatusUpdate</th>
            
                <th class="info">verificationAuth</th>
            
                <th class="info">underwriterID</th>
            
                <th class="info">broker</th>
            
                <th class="info">product</th>
            
                <th class="info">customer</th>
            
                <th class="info">documentIds</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.applicationId}}</td>
                <td>{{asset.brokerId}}</td>
                <td>{{asset.productId}}</td>
                <td>{{asset.enduserId}}</td>
            
            <td>
              <button (click)="getForm(asset.applicationId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.applicationId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
