<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="id">id</label>

              
                <input formControlName="id" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="loanAmt">loanAmt</label>

              
                <input formControlName="loanAmt" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="outstandingAmt">outstandingAmt</label>

              
                <input formControlName="outstandingAmt" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="borrower">borrower</label>

              
                  <textarea formControlName="borrower" class="form-control" rows="3"></textarea>

              

            </div>
          
            <div class="form-group text-left">
              <label for="lenders">lenders</label>

              
                  <textarea formControlName="lenders" class="form-control" rows="3"></textarea>

              

            </div>
          
            <div class="form-group text-left">
              <label for="premiuim">premiuim</label>

              
                <input formControlName="premiuim" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="startDate">startDate</label>

              
                <input formControlName="startDate" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="endDate">endDate</label>

              
                <input formControlName="endDate" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="status">status</label>

              
                  <textarea formControlName="status" class="form-control" rows="3"></textarea>

              

            </div>

            <div class="form-group text-left">
              <label for="payDay">payDay</label>

              
                  <input formControlName="payDay" class="form-control">

              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="id">id</label>

              
                <input [ngModel]="id"formControlName="id" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="loanAmt">loanAmt</label>

              
                <input [ngModel]="loanAmt" formControlName="loanAmt" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="outstandingAmt">outstandingAmt</label>

              
                <input [ngModel]="outstandingAmt" formControlName="outstandingAmt" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="borrower">borrower</label>

              
                  <textarea [ngModel]="borrower" formControlName="borrower" class="form-control" rows="3"></textarea>
              

            </div>
          
            <div class="form-group text-left">
              <label for="lenders">lenders</label>

              
                  <textarea [ngModel]="lenders" formControlName="lenders" class="form-control" rows="3"></textarea>
              

            </div>
          
            <div class="form-group text-left">
              <label for="premiuim">premiuim</label>

              
                <input [ngModel]="premiuim" formControlName="premiuim" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="startDate">startDate</label>

              
                <input [ngModel]="startDate"formControlName="startDate" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="endDate">endDate</label>

              
                <input [ngModel]="endDate"formControlName="endDate" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="status">status</label>

              
                  <textarea [ngModel]="status" formControlName="status" class="form-control" rows="3"></textarea>
              

            </div>

            <div class="form-group text-left">
              <label for="status">payDay</label>

              
                  <input [ngModel]="payDay" formControlName="payDay" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Loans</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">id</th>
            
                <th class="info">loanAmt</th>
            
                <th class="info">outstandingAmt</th>
            
                <th class="info">borrower</th>
            
                <th class="info">lenders</th>
            
                <th class="info">premiuim</th>
            
                <th class="info">startDate</th>
            
                <th class="info">endDate</th>
            
                <th class="info">status</th>
            
              <th class="info">Actions</th>
              <th class="info">Premium Pay Day</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.id}}</td>
            
                <td>{{asset.loanAmt}}</td>
            
                <td>{{asset.outstandingAmt}}</td>
            
                <td>{{asset.borrower}}</td>
            
                <td>{{asset.lenders}}</td>
            
                <td>{{asset.premiuim}}</td>
            
                <td>{{asset.startDate}}</td>
            
                <td>{{asset.endDate}}</td>
            
                <td>{{asset.status}}</td>
                <td>{{asset.payDay}}</td>
            
            <td>
              <button (click)="getForm(asset.id);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>
              <button (click)="setId(asset.id);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
